steps:
- task: AzureCLI@2
  displayName: 'Build and Push Docker image to ACR'
  inputs:
    azureSubscription: 'MyACRServiceConnection1'   # ARM connection
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az acr login --name myethans
      docker build -t myethans.azurecr.io/myapp:$(Build.BuildId) .
      docker push myethans.azurecr.io/myapp:$(Build.BuildId)
